@charset "UTF-8";

* {
    box-sizing: border-box;
    margin: 0px;
    border: 0px;
    list-style: none;
    text-decoration: none;
}

/* 로고, 메인메뉴 */

header {
    width: 200px;
    height: 650px;
    background-color: #eee4e1;
}

.logo {
    width: 200px;
    height: 100px;
    display: flex;
    align-items: center;
}

.menu>ul {
    padding: 5px;
    text-align: center;
    font-size: 17px;
    font-weight: bold;
}

.menu>ul>li {
    margin: 5px;
}

a:link {
    color: #474747;
}

a:visited {
    color: #686767;
}

.menu li:hover {
    background-color: #00000025;
}

/* 이미지 슬라이드, 배너, 바로가기, 공지사항 */

body {
    display: flex;
}

main {
    width: 800px;
    height: 550px;
    background-color: antiquewhite;
}

.imgSlide {
    width: 800px;
    height: 350px;
    background-color: #f7f6f6;
    display: flex;
    justify-content: center;
}

.Contents {
    width: 800px;
    height: 200px;
    background-color: #f7f6f6;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.Contents>div {
    width: 20%;
    height: 90%;
    background-color: #f7f6f6;
    margin: 5px;
}

.Contents>.banner,
.direct {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #b2967d;
}

.Contents>.banner>a {
    background-color: #e7d8c9;
    padding: 10px 30px;
}

.Contents>.direct>a {
    background-color: #e7d8c9;
    padding: 10px 20px;
}

.Contents>div:nth-of-type(3) {
    width: 50%;
}

.Contents>.notice>a {
    font-weight: bold;
    background-color: #e7d8c9;
    padding: 2px 8px;
}

.Contents>.notice ul {
    border: 2px solid #b2967d;
    margin: 5px;
    padding: 10px 20px;
}

.Contents>.notice li {
    padding: 5px;
    margin: 2px 5px;
}

.Contents>.notice li:nth-child(even) {
    background-color: #e7d8c9;
}

.Contents>.notice span {
    float: right;
}

.Contents>.notice>ul>li:hover {
    background-color: #00000025;
}

/* 로고, 카피라이트, 패밀리사이트 */

footer {
    width: 800px;
    height: 100px;
    background-color: #e6beae;
    display: flex;
}

.Copyright {
    width: 400px;
    height: 100px;
    background-color: #e6beae;
    display: flex;
    justify-content: center;
    align-items: center;
}

.familySite {
    width: 200px;
    height: 100px;
    background-color: #e6beae;
    display: flex;
    justify-content: center;
    align-items: center;
}